
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-color: #414a52;
  font-family: sans-serif;
  color: white;
}

header{
  padding-top: 1rem;
  background-color: white;
  justify-items: center;
  text-align: center;
}

nav{
  justify-items: center;
  text-align: center;
  background-color: #718ea7;
  width: 100%;
  padding: 1rem;
}

nav ul li a{
  text-decoration: none;
  list-style-type: none;
  color: white;
}

h1{
  color: white;
  padding: 1rem;
}

p{
  font-size: medium;
  font-weight: lighter;
  padding: 1rem;
  text-align: left;
}

figure img{
  max-width: 650px;
  border: 5px solid white;
}

figcaption{
  p{
    text-align: center;
  }
  text-align: center;
  font-size: medium;
  font-weight: lighter;
}

h2{
  color: #fcbc56;
  padding: 1rem;
}

h3{
  color: #fcbc56;
  font-weight: lighter;
}
h3#caption{
  text-align: center;
}

section{
  padding-left: 1rem;
}

footer{
  text-align: center;
  padding: 25px;
  color: #414a52;
  background-color: white;
}


@media screen and (min-width:1000px){

  nav ul li{
    display: inline;
    padding: 3rem;
  }
  
  h2{
    padding-top: 1rem;
  }

  div#container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 3rem;
    margin: 1rem;
  }

  h3{
    padding: 0.5rem 0 0.5rem 0;
  }

  figure img{
    width: 100%;
    height: auto;
  }
}

  @media screen and (min-width: 768px) and (max-width: 999px){

    nav ul li{
      display: inline;
      padding: 2rem;
    }
  
    nav ul li a{
      text-decoration: none;
      list-style-type: none;
    }
  
    h2{
      padding-top: 1rem;
    }
  
    div#container{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem 4rem;
      margin: 2rem;
    }
  
    h3{
      padding: 0.5rem 0 0.5rem 0;
    }
  
    figure img{
      width: 100%;
      height: auto;
    }
  }

  @media screen and (max-width: 767px){

    nav ul{
      display: grid;
      width: 100%;
      gap: 0.5rem;
    }
  
    nav ul li{
      display: inline;
      grid-template-rows: repeat(3, 1fr);
      background-color: white;
      border: 2px solid #414a52;
      padding: 1rem;
    }

    nav ul li a{
      color: #414a52;
    }

    h2{
      padding-top: 1rem;
    }
  
    div#container{
      display: grid;
      grid-template-columns: 1fr;
      padding: 1rem 2rem;
      gap: 1rem;
    }
  
    h3{
      padding: 0.5rem 0 0.5rem 0;
    }
  
    figure img{
      width: 100%;
      height: auto;
    }
  
    figcaption{
      p{
        text-align: left;
      }
      text-align: left;
      font-size: medium;
      font-weight: lighter;
    }
  }